h1 Build your mobile cloud services with proven open source stack
//#slider
  //img(src='images/concept.jpg')
  //a(href='http://dev7studios.com')
    //img(src='images/nemo.jpg', title='#htmlcaption')
  //img(src='images/toystory.jpg', title='This is an example of a caption')
//#htmlcaption.nivo-html-caption
  //<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
//script
  //$(window).load(function() {
    //$('#slider').nivoSlider();
  //});
p(align='center')
  img(src='images/concept.png')
h2
section.css-table
  section.two-column
    section.cell
      h2 Core Values
      p 
        :markdown
          ### Simplicity
          First and foremost goal in delivering a successful product is to keep things simple and make it easy to understand. If it can't be explained, its NOT simple and needs simplification.

          ### Usability
          A usable product comes with clean, intutive interface. This applies to both user interface (UI) and application interface (API) 
    section.cell
      h2 Announcements
      p 
        :markdown
          #### # New website up
          At this point, this site is just a single page app and doesn't use extensive features of node or express. If intrigued, you can fork this site at [github](https://github.com/truepattern)

          #### # Contact
          Send comments/enquires to *admin at truepattern.com*
section.css-table
  section.three-column
    section.cell
      h3 Mobile
      li apps for j2me, android and iphone
      li html5 apps 
      li push data in real-time to apps
    section.cell
      h3 Data
      li cloud data services on NoSql (CouchDb, Redis, MongoDb, Hsql)
      li hadoop based solutions
    section.cell
      h3 Service
      li cloud services on node.js, django, java 
      li REST api support
      li oauth, openid support
