!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    //link(rel="stylesheet", href='/stylesheets/nivo-slider.css', type='text/css', media='screen')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type='text/javascript')
    //script(src='/scripts/jquery.nivo.slider.pack.js', type='text/javascript')

  body
    header
      img(src='/images/logo.png', align='left', height='60', width='230')
      nav
        ul
          li 
            a(href="/") Home
    section#wrapper!= body
        footer 
          section.css-table
            section.one-column
              section.cell
                p 2011. All (c) copyrights reserved. Site built with node.js and express.js. All trademarks are copyright of their respective owners.
